body {
  background-color: #222;
  margin: 0;
  font-family: Arial, sans-serif;
}

canvas {
  border: 1px solid #fff;
}

.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
}

.arrowBtn:active {
  background-color: #666;
}
